@model IEnumerable<proj1.Models.ProductTypes>
@{
    ViewData["Title"] = "Index";
}

    <br /><br />
          <div class="row">
              <div class="col-6">
                  <h2 class="text-info">Product Type List</h2>
              </div>
              <div class="col-6 text-right">
                  <a asp-action="Create" class="btn btn-info">&nbsp; New Product Type</a>
              </div>
          </div>
          <br />
          <div>
              <table class="table table-striped border">
                  <tr class="table-info">
                      <td>
                          @Html.DisplayNameFor(m=>m.NameType)
                      </td>
                  </tr>
                  @foreach (var item in Model)
                  {
                      <tr>
                          <td>
                              @Html.DisplayFor(m=>item.NameType)
                          </td>
                              <partial name="_partialViewBtn" model="item.TypeId" />
                      </tr>
                  }
              </table>
          </div>

