@model proj1.Models.Providers
@{
    ViewData["Title"] = "Edit";
}
<br />
<h2 class="text-info"> Edit Product Type</h2>
<form asp-action="Edit" method="post">
    <div class="p-4 border rounded">
        <input type="hidden" asp-for="ProviderID" />
        <div asp-validation-summary="ModelOnly" class="text-danger">
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="ProviderName"></label>
            </div>
            <div class="col-5">
                <input asp-for="ProviderName" class="form-control" />
            </div>
            <span asp-validation-for="ProviderName" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Phone"></label>
            </div>
            <div class="col-5">
                <input asp-for="Phone" class="form-control" />
            </div>
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Address"></label>
            </div>
            <div class="col-5">
                <input asp-for="Address" class="form-control" />
            </div>
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-primary" asp-route-id="@Model.ProviderID" value="Update" />
            <a asp-action="Index" class="btn btn-success">Back to list</a>
        </div>
    </div>
</form>
@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}